
body{
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.navbar{
    margin-bottom: 15px;
}

.navbar-custom{
    background-color: hsl(1,82%,46%);
}

.navbar-toggler{
    border-color: #fff;
}
.navbar-nav .nav-item .nav-link{
    font-size: 1.3em;
    color:rgb(255, 255, 255);
}
.fas{
    color:#fff;
    font-size:25px;
}
.container-fluid{
    padding: 0;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    flex: 0 0 50px;/*or just height:50px;*/
    margin-top: auto;
} 
  
  /*mouse passa sobre o menu e abre/oculta*/
.dropdown:hover .dropdown-menu{
    display: block;
}

.customdrop:hover{
    background-color: #60f936;
}

.responsive_banner{
    display: inline;
    width: 100%;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #d11c0ce3;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(251, 220, 147), rgba(245, 87, 108, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(251, 220, 147), rgba(245, 87, 108, 1))
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
   
    footer{
        position: auto;
        bottom: 0;
        left: 0;
        right: 0;
        background: #111;
        height: auto;
        width: 100vw;
        padding-top: 40px;
        color: #fff;
    }
    
    
    
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }


    .footer-content h3{
        font-size: 2.1rem;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 3rem;
    }
    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
        color: #cacdd2;
    }

    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    }
    
    .socials li{
        margin: 0 10px;
    }
    
    .socials a{
        text-decoration: none;
        color: #fff;
        border: 1.1px solid white;
        padding: 5px;
        border-radius: 50%;
    }

    .socials a i{
        font-size: 1.1rem;
        width: 20px;
        transition: color .4s ease;
    }
    
    .socials a:hover i{
        color: aqua;
    }

    .footer-menu{
        margin-bottom: 20px;
      }
      .footer-menu ul{
        display: flex;
      }
      .footer-menu ul li{
      padding-right: 10px;
      display: block;
      }

      .footer-menu ul li a{
        color: #cfd2d6;
        border: 1.3px solid white;
        padding: 6px 15px;
        border-radius: 50px;
        text-decoration: none;
      }
      .footer-menu ul li a:hover{
        color: #27bcda;
      }

      .footer-bottom{
        background: #000;
        width: 100vw;
        padding: 20px;
        text-align: center;
    }
    .footer-bottom p{
        text-align: center;
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }
    .footer-bottom p a{
      color:#44bae8;
      font-size: 16px;
      text-decoration: none;
    }
    .footer-bottom span{
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }

    @media (max-width:500px) {
        .footer-menu ul{
          display: inline;
        }
        .footer-menu ul li{
          margin-bottom: 20px;
        }
        }
    